/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.announcement {
  background-color: #20232a;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  padding: 48px;
  margin: 0 auto;
  text-align: center;
}

.announcement-inner {
  margin: 0 auto;
  max-width: 768px;
}
